h1 {
  color: blue;
  width:100vw;
}

.customerDirectory{
  display: grid;
  width: 100vw;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 33vh 33vh 33vh;
}
.person{
  width:20vw;
}
